.container{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.header{
    padding-top: 32px;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.language-img-mobile{
    display: none;
}

.nav1{
    margin-bottom: 15px;
}
.logo-img{
    max-height: 79px;
}

.menu-list{
    display: flex;
    padding: 0 15px;
}
.menu-item{
    margin: 0px 0px 0px 40px;
}

.menu-link:hover{
    color: #005C9D;
}

.menu-icon{
    display: none;
}
.popup{
    display: none;
}
.popup-language{
    display: none;
}

.search-input{
    width: 281px;
    height: 40px;
    border-radius: 10px;
    padding-left: 18px;
    border: 2px solid #DDDDDD;
    margin-left: 31px;
    font-size: 18px;
    color:  #A1A5A8;
}
.search-input:focus{
    outline: #C6C6C6;
    color:  #000000;
}

.call{
    font-size: 18px;
    font-weight: bold;
    color: #005C9D;
    margin-right: auto;
    margin-left: 140px;
    text-decoration: underline;
    padding: 5px;
}
.call:hover{
    color: #078EEE;
}

.contact{
    max-width: 1920px;
    min-height: 90px;
    padding: 0 15px;
    margin: 0 auto;
    background-color: #005C9D;
}
.text-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text-contact{
    max-width: 768px;
    color: #FFFFFF;
}
.button-contact{
    text-transform: uppercase;
    min-width: 206px;
    min-height: 47px;
    border-radius: 3px;
    background-color: #74D6F8;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    border: 0;
    cursor: pointer;
    margin-right: 15px;
}
.button-contact:hover{
    background-color: #017FAB;
    transition: 0.2s;
}
.button-contact:active{
    background-color: #0591C2;
}

.language-list{
    display: none;
}
.language{
    position: relative;
}

  .popup-language.open-lang{
    position: absolute;
    right: 0;
    top: 50px;
    width: 183px;
    height: 252px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    z-index: 100;
    display: flex;
    transition: 1.5s;
  }

  .popup-language .language-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    margin: 0;
  }

  .language-item {
    width: 134px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #DDDDDD;
    padding: 10px 0 10px 0;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
  } 
  .language-item:hover{
    color:  #078EEE;
  }
  .lang {
    margin: 0;
    padding-left: 28px;
  } 


/* Section results */
.section-results {
    max-width: 1920px;
    height: 717px;
    margin: 0 auto;
}
.results {
    max-height: 717px;
    padding: 72px 0px;
}

.results__title {
    margin: 0px 0px 51px 0px;
}
.results__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.results__column {
    max-width: 360px;
   
    margin-bottom: 50px;
}
.item-results {
    display: flex;
    flex-wrap: wrap;
}

.item-results__title {
    padding-left: 15px;
    width: 80%;
    font-weight: 500;
    font-size: 24px;
    color: #005C9D;
    margin-bottom: 15px;
}
.item-results__title-limit{
    padding-right: 100px;
}
.item-results__text {
    padding-left: 80px;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}

.title-block {
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    text-transform: uppercase;
    color: #013C66;
    padding: 0px 0px 25px 0px;
}
.title-block::after{
    content: '';
    position: absolute;
    width: 320px;
    bottom: 0;
    height: 5px;
    left: 36%;
    background-color: #74D6F8;
    /* margin: 0px 0px 0px -55px; */
    
}

/* Section results */



/* Section invitation */
.section-invitation{
    max-width: 1920px;
    height: 677px;
    margin: 0 auto;
    background: url("../images/invitation.jpg") 50%/cover no-repeat ;
    background-blend-mode: luminosity;
}
.invitation__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;
    color: #74D6F8;
    align-items: center;
    text-align: center;
    padding: 114px 0px 41px 0px;
}
.invitation__subtitle {
    max-width: 1025px;
    align-items: center;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    color: #FFFFFF;
    margin: 0px 0px 45px 65px;
    
}
.invitation__list {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 20px 50px;
}
.invitation__list-item {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}
.invitation__list-item > p {
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    padding: 0px 0px 0px 22px;
    margin: 0;
}
.invitation__link {
    display: flex;
    align-items: center;
    justify-content: center;
}
.invitation__link > a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #74D6F8;
    padding-right: 25px;
}
.invitation__link > img {
    align-items: center;
    padding-top: 3px;
    cursor: pointer;
}

/* Section invitation */


/* Section blog-webinars */

.blog-webinars{
    max-width: 1920px;
    height: 882px;
    margin: 0 auto;;
}
.container-body{
    display: flex;
    padding-top: 70px;
    justify-content: space-between;
}
.blog{
    max-width: 555px;
}
.blog__content{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 25px 0px 0px 0px;
}
/* .blog__title, .webinars__title{
    display: inline-block;
} */
.blog__content-item{
    max-width: 263px;
    padding-bottom: 31px;
}

.title-style{
    display: inline-block;
    position: relative;
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    color: #005C9D;
    padding: 0px 0px 15px 0px;
}
.title-style::after{
    content: '';
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 5px;
    left: 0;
    background-color: #74D6F8;
}

.blog__content-date{
    font-weight: 400;
    font-size: 14px;
    color: #AAAAAA;
    padding-top: 11px;
}

.blog__content-name{
    font-weight: 600;
    font-size: 18px;
    color: #005C9D;
    padding-top: 11px;
    cursor: pointer;
}

.blog__button{
    padding-top: 24px;
}

.webinars{
    max-width: 555px;
}

.webinars__content{
    box-sizing: border-box;
    border: 1px solid #005C9D;
    border-radius: 5px;
    margin: 23px 0px 144px 0px;
    /* width: 100%; */
    height: 468px;
    display: flex;
    flex-direction: column;
    padding: 66px 32px;
}

.webinars__content-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.webinars__content-text{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #005C9D;
    max-width: 390px;
    cursor: pointer;
}

.webinars__content-date{
    font-weight: 400;
    font-size: 16px;
    color: #000000;
}
.line{
    width: 439px;
    border: 1px solid #74D6F8;
    margin: 40px 0px ;
}

.line2{
    margin-bottom: 67px;
}

.webinars__button{
    display: flex;
    justify-content: end;
}

/* Section blog-webinars */

/* Section our-results */

.our-results{
    max-width: 1920px;
    height: 1080px;
    margin: 0 auto;
}
.results-content{
    max-width: 1770px;
    height: 1084px;
    margin: 0 auto;
}
.our-results__background{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background: url("../images/our-results.jpg") 50%/cover no-repeat ;
    background-blend-mode: luminosity;
}

.title-style-block{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    z-index: 100;
}

/* Section our-results */


/* Section our-clients */

.our-clients{
    max-width: 1920px;
    height: 400px;
    margin: 0 auto;
}
.our-clients__title{
    margin-bottom: 40px;
}

.our-clients__logos1{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
}
.our-clients__logos2{
    display: flex;
    justify-content: space-between;
}
.logo-item{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    cursor: pointer;
}
.logo-item:hover{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.logo-item--active{
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
.logo-item--active:hover{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

/* Section our-clients */


/* Section cooperation */

.cooperation{
    max-width: 1920px;
    height: 656px;
    margin: 0 auto;
    border-bottom: 3px solid #005C9D;
}
.cooperation__title{
    color: #005C9D;
    padding: 44px 0px 17px 0px;
}

.cooperation__cards{
    display: flex;
    justify-content: space-between;
    margin-top: 53px;
} 

 .card-item{
    display: flex;
    flex-direction: column;
    width: 360px;
}

.card-item__title{
    margin: 0  auto;
    position: relative;
    text-align: center;
    width: 276px;
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    padding: 32px 0px 23px 0px;
}
.card-item__title::after{
    content: '';
    position: absolute;
    width: 147px;
    margin: 0 auto;
    border: 2px solid #FFFFFF;
    bottom: 0;
    left: 25%;
}

.card-item__list{
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    padding-top: 23px;
    padding-left: 45px;
}
.card-item__list > ul > li {
    padding-bottom: 22px;
    list-style-type: initial;
}
.card-item__list > ul > li::marker {
    /* width: 10px;
    height: 10px; */
    font-size: 27px;
    color:#005C9D;
}
.castom-marker > ul > li::marker {
    /* width: 10px;
    height: 10px; */
    font-size: 27px;
    color: #74D6F8;;
}


.card-item__background1{
    border-radius: 5px;
    height: 305px;
    background: linear-gradient(0deg, rgba(68, 164, 220, 0.87), rgba(68, 164, 220, 0.87)), url('../images/cooperation/bg-card1.png');
}
.card-item__background1:hover{
    background: linear-gradient(0deg, rgba(42, 95, 125, 0.87), rgba(42, 95, 125, 0.87)), url('../images/cooperation/bg-card1.png');
}
.card-item__background2{
    border-radius: 5px;
    height: 305px;
    background: linear-gradient(0deg, rgba(34, 175, 223, 0.74), rgba(34, 175, 223, 0.74)), url('../images/cooperation/bg-card2.png');
}
.card-item__background2:hover{
    background: linear-gradient(0deg, rgba(21, 86, 108, 0.74), rgba(21, 86, 108, 0.74)), url('../images/cooperation/bg-card2.png');
}
.card-item__background3{
    border-radius: 5px;
    height: 305px;
    background: linear-gradient(0deg, rgba(0, 92, 157, 0.63), rgba(0, 92, 157, 0.63)), url('../images/cooperation/bg-card3.png');
}
.card-item__background3:hover{
    background: linear-gradient(0deg, rgba(0, 34, 57, 0.63), rgba(0, 34, 57, 0.63)), url('../images/cooperation/bg-card3.png');
}

.card-item__button{
    background:  #005C9D;
    box-shadow: 0px 9px 10px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-top: 18px;
    height: 100px;
    border: none;

    font-weight: 700;
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
}
.card-item__button:hover{
    box-shadow: -6px -6px 13px rgba(0, 0, 0, 0.25), 9px 16px 36px rgba(0, 0, 0, 0.25);
}

/* Section cooperation */


/* Section contact-footer */

.contact-footer{
    max-width: 1920px;
    height: 333px;
    margin: 0 auto;
    border-bottom: 1px solid #005C9D;
}

.contact__columns{
    display: flex;
    /* justify-content: space-between; */
    padding-top: 43px;
}

.cloumn__contact{
    /* max-width: 263px; */
}
.contact-list{
    display: flex;
}
.cloumn__contact-location{
    margin-top: 18px;
}

.location, .mail, .chat{
    margin-left: 3px;
}
.location{
    font-weight: 300;
    font-size: 16px;
    color: #000000;
    max-width: 229px;
    padding-bottom: 7px;
}
.mail{
    padding-bottom: 11px;
}
.mail, .chat {
    font-weight: 700;
    font-size: 16px;
    text-decoration-line: underline;
    color: #005C9D;
}
.mail:hover, .chat:hover {
    color: #078EEE;
}

.cloumn__contact-social{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    max-width: 230px;

}

.column__title{
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    color: #005C9D;
    padding-top: 18px;
}
.column__menu{
    font-weight: 400;
    font-size: 16px;
    padding-top: 25px;
}

.column__company{
    padding-left: 31px;
}
.column__platform{
    padding-left: 77px;
}
.column__partners{
    padding-left: 80px;
}
.column__study{
    padding-left: 22px;
}


.column__menu > ul > li{
    padding-bottom: 20px;
}
.column__menu > ul > li:hover{
    color: #005C9D;
}

/* Section contact-footer */

/* Footer */
.footer{
    max-width: 1920px;
    height: 285px;
    margin: 0 auto;
}

.footer__content{
    display: flex;
}

.footer__reserved{
    padding: 45px 0px 0px 10px;
    font-weight: 300;
    font-size: 16px;
}

.footer__link-group{
    padding-top: 19px;
    font-weight: 300;
    font-size: 14px;
    text-decoration-line: underline;
    color: #005C9D;
}

.footer__link-group > ul > li {
    padding-bottom: 15px;
}
.footer__link-group > ul > li:hover{
    color: #078EEE;
}
.group1{
    padding-left: 235px;
}
.group2{
    padding-left: 64px;
}

/* Footer */
