.container{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

.header{
    padding-top: 32px;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.language-img-mobile{
    display: none;
}

.nav1{
    margin-bottom: 15px;
}
.logo-img{
    max-height: 79px;
}

.menu-list{
    display: flex;
    padding: 0 15px;
}
.menu-item{
    margin: 0px 0px 0px 40px;
}

.menu-link:hover{
    color: #005C9D;
}

.menu-icon{
    display: none;
}
.popup{
    display: none;
}
.popup-language{
    display: none;
}

.search-input{
    width: 281px;
    height: 40px;
    border-radius: 10px;
    padding-left: 18px;
    border: 2px solid #DDDDDD;
    margin-left: 31px;
    font-size: 18px;
    color:  #A1A5A8;
}
.search-input:focus{
    outline: #C6C6C6;
    color:  #000000;
}

.call{
    font-size: 18px;
    font-weight: bold;
    color: #005C9D;
    margin-right: auto;
    margin-left: 140px;
    text-decoration: underline;
    padding: 5px;
}
.call:hover{
    color: #078EEE;
}

.contact{
    max-width: 1920px;
    min-height: 90px;
    padding: 0 15px;
    margin: 0 auto;
    background-color: #005C9D;
}
.text-button{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text-contact{
    max-width: 768px;
    color: #FFFFFF;
}
.button-contact{
    text-transform: uppercase;
    min-width: 206px;
    min-height: 47px;
    border-radius: 3px;
    background-color: #74D6F8;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
    border: 0;
    cursor: pointer;
    margin-right: 15px;
}
.button-contact:hover{
    background-color: #017FAB;
    transition: 0.2s;
}
.button-contact:active{
    background-color: #0591C2;
}

.language-list{
    display: none;
}
.language{
    position: relative;
}

  .popup-language.open-lang{
    position: absolute;
    right: 0;
    top: 50px;
    width: 183px;
    height: 252px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    z-index: 100;
    display: flex;
    transition: 1.5s;
  }

  .popup-language .language-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    margin: 0;
  }

  .language-item {
    width: 134px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #DDDDDD;
    padding: 10px 0 10px 0;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
  } 
  .language-item:hover{
    color:  #078EEE;
  }
  .lang {
    margin: 0;
    padding-left: 28px;
  } 


/* Section results */
.section-results {
    max-width: 1920px;
    height: 717px;
    margin: 0 auto;
}
.results {
    max-height: 717px;
    padding: 72px 0px;
}

.results__title {
    margin: 0px 0px 51px 0px;
}
.results__row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.results__column {
    max-width: 360px;
   
    margin-bottom: 50px;
}
.item-results {
    display: flex;
    flex-wrap: wrap;
}

.item-results__title {
    padding-left: 15px;
    width: 80%;
    font-weight: 500;
    font-size: 24px;
    color: #005C9D;
    margin-bottom: 15px;
}
.item-results__title-limit{
    padding-right: 100px;
}
.item-results__text {
    padding-left: 80px;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
}

.title-block {
    position: relative;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    text-align: center;
    text-transform: uppercase;
    color: #013C66;
    padding: 0px 0px 25px 0px;
}
.title-block::after{
    content: '';
    position: absolute;
    width: 320px;
    bottom: 0;
    height: 5px;
    left: 36%;
    background-color: #74D6F8;
    /* margin: 0px 0px 0px -55px; */
}
/* Section results */



/* Section invitation */
.section-invitation{
    max-width: 1920px;
    height: 677px;
    margin: 0 auto;
    background: url("../images/invitation.jpg") 50%/cover no-repeat ;
    background-blend-mode: luminosity;
}
.invitation__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 32px;
    color: #74D6F8;
    align-items: center;
    text-align: center;
    padding: 114px 0px 41px 0px;
}
.invitation__subtitle {
    max-width: 1025px;
    align-items: center;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    color: #FFFFFF;
    margin: 0px 0px 45px 65px;
    
}
.invitation__list {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 20px 50px;
}
.invitation__list-item {
    display: flex;
    align-items: center;
    padding-bottom: 30px;
}
.invitation__list-item > p {
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    padding: 0px 0px 0px 22px;
    margin: 0;
}
.invitation__link {
    display: flex;
    align-items: center;
    justify-content: center;
}
.invitation__link > a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #74D6F8;
    padding-right: 25px;
}
.invitation__link > img {
    align-items: center;
    padding-top: 3px;
}

/* Section invitation */